<!DOCTYPE html>
<html>
  <head>
    <title>Client and Stylists</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel='stylesheet' href='https://bootswatch.com/paper/bootstrap.min.css'>
    <link rel="stylesheet" href="/css/layout.css" type="text/css">
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1>La Pet Salon</h1>
      </div>
      #parse( $template )
    </div>
  </body>
</html>
